# Python compiled files
__pycache__/
*.py[cod]
*$py.class

app/__pycache__/


# Virtual environment
venv/
env/

# IDE / editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Database files
*.sqlite3

# Secrets / environment variables
.env